ul, ol {
    list-style: none;
}

.image {
    width: 500px;
    height: 300px;
transform: scale(2);
transition-property: transform, opacity ;
transition-duration: 2s;
opacity: 0;
}
.animation{
    transform: rotate(0deg);
    transition-property: transform, opacity;
    transition-duration: 2s;
    opacity: 1;
}
.list {
    display: flex;
    flex-direction: column;
    gap :50px;
}

